{{#extend "layout"}}
	{{#content "title"}}{{champion.name}} - ChampionMasteryLookup{{/content}}

	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/champion.css">
	{{/content}}

	{{#content "body"}}
		<h1 class="text-center">
			<img id="championIcon" src="/img/championIcons/{{champion.icon}}">
			<span>{{champion.name}}</span>
		</h1>
		<div id="disclaimer" class="text-center">
			Players must be looked up on this site to appear on this list
		</div>
		<div class="col-sm-10 col-sm-offset-1">
			<table class="table well well-sm">
				<thead>
					<tr>
						<th>Place</th>
						<th>Name (Region)</th>
						<th>Mastery Points</th>
					</tr>
				</thead>
				<tbody>
					{{#each scores}}
						<tr>
							<td>
								{{ordinalize (add @index 1)}}
							</td>
							<td>
								{{#if this}}
									<a href="/summoner?summoner={{encodeURI this.name}}&region={{this.region}}">
										{{this.name}} ({{this.region}})
									</a>
								{{else}}
									Nobody
								{{/if}}
							</td>
							<td data-format-number="{{#if this}}{{this.points}}{{else}}0{{/if}}">
								{{#if this}}
									{{this.points}}
								{{else}}
									0
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	{{/content}}
{{/extend}}
