{{#extend "layout"}}
	{{#content "title"}}{{champion.name}} - ChampionMasteryLookup{{/content}}

	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/champion.css">
	{{/content}}

	{{#content "body"}}
		<h1>
			<img id="championIcon" src="/img/championIcons/{{champion.icon}}">
			<span>{{champion.name}}</span>
		</h1>
		<div id="disclaimer">
			Players must be looked up on this site to appear on this list
		</div>
		<div id="container">
			<table class="well">
				<thead>
					<tr>
						<th>Place</th>
						<th>Name (Region)</th>
						<th>{{#eq this.champion.id -2}}Total Level{{else}}Mastery Points{{/eq}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each scores}}
						<tr>
							<td>
								{{ordinalize (add @index 1)}}
							</td>
							<td>
								{{#if this}}
									<a href="/summoner?summoner={{encodeURI this.name}}&region={{this.region}}">
										{{this.name}} ({{this.region}})
									</a>
								{{else}}
									Nobody
								{{/if}}
							</td>
							<td data-format-number="{{#if this}}{{this.points}}{{else}}0{{/if}}">
								{{#if this}}
									{{this.points}}
								{{else}}
									0
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-5598552437938145" data-ad-slot="7949656060"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	{{/content}}
{{/extend}}
