{{#extend "layout"}}

	{{#content "title"}}Highscores - ChampionMasteryLookup{{/content}}

	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/highscores.css">
	{{/content}}

	{{#content "scripts"}}
		<script src="/js/highscores.js"></script>
	{{/content}}

	{{#content "body"}}
		<div class="text-center">
			<h1>Highscores</h1>
			Players must be looked up on this site to appear on this list
			<br>
			Click on a champion to see the top 20 players for that champion
			<br>
			<select id="quickJump">
				<option value="quick_jump">Quick jump</option>
				{{#each highscores}}
					<option value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div id="content" class="row col-sm-10 col-sm-offset-1">
			{{#each highscores}}
				<div class="col-sm-6">
					<div class="col-sm-12 well well-sm pull-left">
						<a href="/champion?champion={{this.id}}">
							<img class="championIcon pull-left" src="{{this.icon}}">
						</a>
						<div class="championText pull-left">
							<a class="championName" href="/champion?champion={{this.id}}">
								{{this.name}}
							</a>
							{{#each this.scores}}
								<div>
									<span class="place">{{ordinalize (add @index 1)}}</span>
									{{#if this}}
										<a href="/summoner?summoner={{encodeURI this.name}}&region={{this.region}}">
											{{this.name}} ({{this.region}})
										</a>
										:
										<span data-format-number="{{this.points}}">{{this.points}}</span>
									{{else}}
										Nobody
									{{/if}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	{{/content}}
{{/extend}}
