{{#extend "layout"}}
	{{#content "title"}}ChampionMastery.GG - {{T.[League of Legends]}} {{this.localizedChampionName}} {{T.[champion mastery highscores]}}{{/content}}

	{{#content "meta-description" ~}}
		{{T.[League of Legends]}} {{this.localizedChampionName}} {{T.[champion mastery highscores]}}
	{{/content}}

	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/champion.css">
	{{/content}}

	{{#content "scripts"}}
		<script src="/js/rgea.js"></script>
	{{/content}}

	{{#content "body"}}
		<h1>
			<img id="championIcon" src="{{dragonUrl}}/img/championIcons/{{champion.icon}}">
			<span>{{this.localizedChampionName}}</span>
		</h1>
		<div id="container">
			<table class="well">
				<thead>
					<tr>
						<th>{{T.[Rank]}}</th>
						<th>{{T.[Summoner name]}} ({{T.[Region]}})</th>
						<th>{{#eq this.champion.id -2}}{{T.[Total level]}}{{else}}{{T.[Mastery points]}}{{/eq}}</th>
					</tr>
				</thead>
				<tbody>
					{{#each scores}}
						<tr>
							<td>
								{{ordinalize (add @index 1)}}
							</td>
							<td>
								{{#if this}}
									{{#if this.name}}
										<a href="/summoner?summoner={{encodeURI this.name}}&region={{this.region}}">
											{{this.name}} ({{this.region}})
										</a>
									{{else}}
										<a href="/privacy">
											[{{../T.[HIDDEN]}}] ({{this.region}})
										</a>
									{{/if}}
								{{else}}
									Nobody
								{{/if}}
							</td>
							<td data-format-number="{{#if this}}{{this.points}}{{else}}0{{/if}}">
								{{#if this}}
									{{this.points}}
								{{else}}
									0
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		<div class="responsiveAd">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5598552437938145"
					crossorigin="anonymous"></script>
			<!-- CMGG/champion-footer-responsive -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-5598552437938145"
				 data-ad-slot="6258924078"
				 data-ad-format="auto"
				 data-full-width-responsive="true"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	{{/content}}
{{/extend}}
