{{#extend "layout"}}

	{{#content "title"}}Highscores - ChampionMastery.GG{{/content}}

	{{~#content "meta-description" ~}}
		Highscores for players with the most champion mastery points on each champion
	{{~/content ~}}

	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/highscores.css">
	{{/content}}

	{{#content "scripts"}}
		<script src="/js/highscores.js"></script>
		<script src="/js/rgea.js"></script>
	{{/content}}

	{{#content "body"}}
		<h1>Highscores</h1>
		Players must be looked up on this site to appear on this list
		<br>
		Click on a champion to see the top 20 players for that champion
		<br>
		<select id="quickJump">
			<option value="quick_jump">Quick jump</option>
			{{#each highscores}}
				<option value="{{this.id}}">{{this.name}}</option>
			{{/each}}
		</select>
		<div class="responsiveAd">
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5598552437938145"
					crossorigin="anonymous"></script>
			<!-- CMGG/highscores-header-responsive -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-5598552437938145"
				 data-ad-slot="8138804348"
				 data-ad-format="auto"
				 data-full-width-responsive="true"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		<div id="highscores">
			{{#each highscores}}
				<div class="champion well">
					<div class="champion-icon">
						<a href="/champion?champion={{this.id}}">
							<span class="championSpritesheet" style='background: url("/img/championSpritesheet.png") 0 -{{this.spritesheetY}}px'></span>
						</a>
					</div>
					<div class="champion-info">
						<a href="/champion?champion={{this.id}}">
							<strong>{{this.name}}</strong>
						</a>
						{{#each this.scores}}
							<div>
								<strong>{{ordinalize (add @index 1)}}</strong>
								{{#if this}}
									{{#if this.name}}
										<a href="/summoner?summoner={{encodeURI this.name}}&region={{this.region}}">
											{{this.name}} ({{this.region}})
										</a>
									{{else}}
										<a href="/privacy">
											[HIDDEN] ({{this.region}})
										</a>
									{{/if}}
									:
									<span data-format-number="{{this.points}}">{{this.points}}</span>
								{{else}}
									Nobody
								{{/if}}
							</div>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	{{/content}}
{{/extend}}
