{{#extend "layout"}}
	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/home.css">
	{{/content}}
	{{#content "scripts"}}
		<script src="/js/home.js"></script>
		<script src="/js/rgea.js"></script>
	{{/content}}

	{{#content "body"}}
		<div id="home-logo">
			<img src="/img/logo-icon.png" alt="">
			<img src="/img/logo-text.png" alt="ChampionMastery.GG">
		</div>

		<!-- TODO make this taller/bigger -->
		<div class="summoner-lookup">
			<form class="summoner-form" action="/summoner">
				<input type="text" name="summoner" placeholder="{{T.[Summoner name]}}">
				<select class="region" name="region">
					{{#each regions}}
						<option value="{{this}}">
							{{this}}
						</option>
					{{/each}}
				</select>
				<button type="submit">
					<span class="material-symbols-outlined">search</span>
				</button>
			</form>
		</div>

		<script async
				src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5598552437938145"
				crossorigin="anonymous"></script>
		<!-- CMGG/home-mid-responsive -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-5598552437938145"
			 data-ad-slot="8405530677"
			 data-ad-format="auto"
			 data-full-width-responsive="true"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

		<div id="champion-filter-container">
			<input type="text" placeholder="{{T.[Champion name]}}" id="champion-filter"><span class="material-symbols-outlined">filter_list</span>
		</div>

		<!-- TODO fix bug when 2/3 champs are displayed on last row -->
		<div id="highscores">
			{{#each highscores}}
				<div class="champion well">
					<div class="champion-icon">
						<a class="regionableLink" href="/champion?champion={{this.id}}">
						<span class="championSpritesheet"
							  style='background: url("{{../dragonUrl}}/img/championSpritesheet.png") 0 -{{this.spritesheetY}}px'></span>
						</a>
					</div>
					<div class="champion-info">
						<a class="regionableLink" href="/champion?champion={{this.id}}">
						<strong class="champion-name">{{this.localizedName}}</strong>
						</a>
						{{#each this.scores}}
							<div>
								<strong>{{ordinalize (add @index 1)}}</strong>
								{{#if this}}
									{{#if this.name}}
										<a href="/summoner?summoner={{encodeURI this.name}}&region={{this.region}}">
										{{this.name}} ({{this.region}})
										</a>
									{{else}}
										<a href="/privacy">
											[HIDDEN] ({{this.region}})
										</a>
									{{/if}}
									:
									<span data-format-number="{{this.points}}">{{this.points}}</span>
								{{else}}
									Nobody
								{{/if}}
							</div>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>

		<script async
				src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5598552437938145"
				crossorigin="anonymous"></script>
		<!-- CMGG/home-bottom-responsive -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-5598552437938145"
			 data-ad-slot="1508949837"
			 data-ad-format="auto"
			 data-full-width-responsive="true"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	{{/content}}
{{/extend}}
