<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="alkAXvVRRlUYhxyDLGOky7uTxdjil4P3n86Ax4Jbpsg">
	<meta name="twitter:card" content="summary">
	<title>{{#block "title"}}ChampionMasteryLookup{{/block}}</title>
	<meta property="og:title" content="{{#block "title"}}ChampionMasteryLookup{{/block}}">
	<meta name="description" content="{{#block "meta-description"}}View any player's champion mastery scores and the players with the most mastery points on each champion{{/block}}">
	<meta property="og:description" content="{{#block "meta-description"}}View any player's champion mastery scores and the players with the most mastery points on each champion{{/block}}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://championmasterylookup.derpthemeus.com/img/logo-icon.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	{{{block "css"}}}
	<script src="/js/script.js"></script>

	<script>
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
		ga('create', 'UA-72665536-1', 'auto');
		ga('send', 'pageview');
	</script>
	<script async src="https://www.google-analytics.com/analytics.js"></script>

	<script>
		(function(){document.write('<div id="vmv3-ad-manager" style="display:none"></div>');
		document.getElementById("vmv3-ad-manager").innerHTML='<iframe id="vmv3-frm" src="javascript:\'<html><body></body></html>\'" width="0" height="0" data-mode="scan" data-site-id="5b114c8f46e0fb000159d58e"></iframe>';
		var a=document.getElementById("vmv3-frm");a=a.contentWindow?a.contentWindow:a.contentDocument;a.document.open();
		a.document.write('<script src="https://hb.vntsm.com/v3/live/ad-manager.min.js" type="text/javascript" async>'+'</scr'+'ipt>');a.document.close()})();
	</script>

	{{{block "scripts"}}}
</head>

<body>
	<nav id="navbar">
		<a id="navbar-logo" href="/">
			<img id="navbar-logo-icon" src="/img/logo-icon.png" alt="ChampionMasteryLookup">
			<img id="navbar-logo-title" src="/img/logo-text.png" alt="ChampionMasteryLookup">
		</a>
		<div id="navbar-items">
			<a class="navbar-item" href="/highscores">Highscores</a>
			<a class="navbar-item" href="/faq">FAQ</a>
			<a class="navbar-item" href="https://github.com/Derpthemeus/ChampionMasteryLookup">GitHub</a>
		</div>
		<button id="toggle-search-button" onclick="toggleNavbarLookupForm()">&#x25BC;</button>
		<div id="navbar-lookup">
			<form id="navbar-form" action="/summoner">
				<input type="text" name="summoner" placeholder="Summoner Name">
				<select id="region" name="region">
					{{#each regions}}
						<option value="{{this}}">
							{{this}}
						</option>
					{{/each}}
				</select>
				<button type="submit">
					<span>Lookup</span>
				</button>
			</form>
		</div>
	</nav>

	{{#if announcement.message}}
		<div id="announcement">
			{{#if announcement.link}}
				<a href="{{announcement.link}}">{{announcement.message}}</a>
			{{else}}
				{{announcement.message}}
			{{/if}}
		</div>
	{{/if}}

	<div id="content">
		{{{block "body"}}}
	</div>

	<div id="footer">
		<span><a href="https://www.reddit.com/message/compose/?to=Derpthemeus">Message me on Reddit</a> or <a href="mailto:championmasterylookup@derpthemeus.com">email me</a> (please read <a href="/faq">the FAQ</a> first)</span>
		<span><a href="/legal">Legal info</a></span>
	</div>
</body>
</html>
