<html lang="{{langCode}}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="alkAXvVRRlUYhxyDLGOky7uTxdjil4P3n86Ax4Jbpsg">
	<meta name="twitter:card" content="summary">
	<title>{{#block "title"}}ChampionMastery.GG - {{T.[League of Legends]}} {{T.[champion mastery highscores]}} {{T.[and player lookup]}}{{/block}}</title>
	<meta property="og:title" content="{{#block "title"}}ChampionMastery.GG{{/block}}">
	<meta name="description" content="
		{{~#block "meta-description" ~}}
			{{T.[League of Legends]}} {{T.[champion mastery highscores]}} {{T.[and player lookup]}}
		{{~/block ~}}
	">
	<meta property="og:description" content="
		{{~#block "meta-description" ~}}
			{{T.[League of Legends]}} {{T.[champion mastery highscores]}} {{T.[and player lookup]}}
		{{~/block ~}}
	">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{siteUrl}}/img/logo-icon.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,200" />
	{{{block "css"}}}
	<script src="/js/script.js"></script>

	<script>
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
		ga('create', 'UA-72665536-1', 'auto');
		ga('send', 'pageview');
	</script>
	<script async src="https://www.google-analytics.com/analytics.js"></script>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-KL0MJEHFX0"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-KL0MJEHFX0');
	</script>

	<script data-ad-client="ca-pub-5598552437938145" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	{{#each supportedLocales}}
		{{{hreflang ../currentUrl}}}
	{{/each}}

	{{{block "scripts"}}}
</head>

<body>
<nav id="navbar">
	<a id="navbar-logo" class="internalLink" href="/">
		<img src="/img/logo-icon.png" alt="ChampionMastery.GG">
		<img id="navbar-logo-title" src="/img/logo-text.png" alt="ChampionMastery.GG">
	</a>
	<button id="toggle-search-button" onclick="toggleNavbarLookupForm()">&#x25BC;</button>
	<div id="navbar-lookup" class="summoner-lookup">
		<form id="navbar-form" class="summoner-form" action="/summoner">
			<input type="text" name="summoner" placeholder="{{T.[Summoner name]}}">
			<select class="region" name="region">
				{{#each regions}}
					<option value="{{this}}">
						{{this}}
					</option>
				{{/each}}
			</select>
			<input type="hidden" name="lang" value="{{T.[LOCALE_CODE]}}">
			<button type="submit">
				<span class="material-symbols-outlined">search</span>
			</button>
		</form>
	</div>
</nav>

{{#if announcement.message}}
	<div id="announcement">
		{{#if announcement.link}}
			<a href="{{announcement.link}}">{{announcement.message}}</a>
		{{else}}
			{{announcement.message}}
		{{/if}}
	</div>
{{/if}}

<div id="content">
	{{{block "body"}}}
</div>

	<div id="footer">
		<div>
			<span><a href="https://github.com/Derpthemeus/ChampionMastery.GG">Made with &#9825; by Derpthemeus <img src="/img/github-mark.svg" width="17" alt="(GitHub))"/></a></span>
			<span><a class="internalLink" href="/faq">{{T.[Help & Info]}}</a></span>
			<span><a class="internalLink" href="/legal">{{T.[Legal info]}}</a></span>
			<span><a class="internalLink" href="/privacy">{{T.[Player privacy]}}</a></span>
		</div>
		<div>
			<a href="https://www.digitalocean.com/?refcode=52977c31ea5b&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.digitaloceanspaces.com/WWW/Badge%202.svg" alt="Powered by DigitalOcean" /></a>
		</div>
	</div>
</body>
</html>
