{{#extend "layout"}}
	{{#content "title"~}}
		ChampionMastery.GG - {{T.[League of Legends]}} {{T.[champion mastery scores for]}} {{summoner.name}} ({{summoner.region}})
	{{/content}}


	{{#content "meta-description"}}{{T.[League of Legends champion mastery scores for]}} {{summoner.name}} ({{summoner.region}}){{/content}}

	{{#content "css"}}
		<link rel="stylesheet" type="text/css" href="/css/summoner.css">
	{{/content}}

	{{#content "scripts"}}
		<script src="/js/summoner.js"></script>
		<script src="/js/rgea.js"></script>
	{{/content}}


	{{#content "body"}}
		<div id="header">
			<h1>
				<img src="{{dragonUrl}}/img/profileIcons/{{summoner.icon}}.png" id="summonerIcon">
				<span id="summonerName">{{summoner.name}} ({{summoner.region}})</span>
			</h1>
			<div id="profileLinks">
				<a class="profileLink" href="https://{{summoner.region}}.op.gg/summoner/userName={{encodeURI summoner.name}}">op.gg</a>
				<a class="profileLink" href="https://www.leagueofgraphs.com/summoner/{{lowercase summoner.region}}/{{encodeURI summoner.name}}">League of Graphs</a>
				<a class="profileLink" href="https://u.gg/lol/profile/{{lowercase summoner.platform}}/{{encodeURI (lowercase summoner.name)}}/overview">u.gg</a>
			</div>
		</div>
		<div class="responsiveAd">
			<script async
					src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5598552437938145"
					crossorigin="anonymous"></script>
			<!-- summoner-header-responsive -->
			<ins class="adsbygoogle"
				 style="display:block"
				 data-ad-client="ca-pub-5598552437938145"
				 data-ad-slot="4796081437"
				 data-ad-format="auto"
				 data-full-width-responsive="true"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		<div id="container">
			<table class="well">
				<thead>
					<tr>
						{{>headerColumn name=T.[Champion name]}}
						{{>headerColumn name=T.[Level]}}
						{{>headerColumn name=T.[Points]}}
						{{>headerColumn name=T.[Chest]}}
						{{>headerColumn name=T.[Last played]}}
						{{>headerColumn name=T.[Progress]}}
						{{>headerColumn name=T.[Points until next level]}}
					</tr>
				</thead>
				<tbody id="tbody">
					{{#each champions}}
						<tr>
							<td>
								<a class="regionableLink" href="/champion?champion={{this.championId}}">{{this.localizedChampionName}}</a>
								<td>{{this.championLevel}}</td>
								<td data-format-number="{{this.championPoints}}" data-value="{{this.championPoints}}">{{this.championPoints}}</td>
								<td data-value="{{#if this.chestGranted}}1{{else}}0{{/if}}">
									<img src="/img/chest.png" class="chest{{#unless this.chestGranted}} notEarned{{/unless}}">
								</td>
								<td data-format-time="{{this.lastPlayTime}}" data-value="{{this.lastPlayTime}}" data-toggle="tooltip"></td>
								<td class="{{#lt this.championLevel 5}}collapsible{{/lt}}" data-value="{{this.sortingValue}}" data-tooltip="tooltip" title="{{this.tooltip}}">
									{{#eq this.championLevel 7}}
										{{../T.[Mastered]}}
									{{else}}
										{{#gte this.championLevel 5}}
											{{{getTokens}}}
										{{else}}
											<div class="progressBar-outer">
												{{! sortingValue is the percentage to next level when champion level is <5}}
												<div class="progressBar-inner" style="width: {{this.sortingValue}}%"></div>
											</div>
										{{/gte}}
									{{/eq}}
								</td>
								<td class="{{#gte this.championLevel 5}}collapsible{{/gte}}" {{#lt this.championLevel 5}}data-format-number="{{this.championPointsUntilNextLevel}}"{{/lt}} data-value="{{this.pointsToNextLevel}}">

									{{#lt this.championLevel 5}}
										{{this.championPointsUntilNextLevel}}
									{{/lt}}
								</td>
							</td>
						</tr>
					{{/each}}
				</tbody>
				<tfoot>
					<tr>
						<td><a class="regionableLink" href="/champion?champion=-1">{{totals.champions}} {{T.[champions]}}</a></td>
						<td data-format-number="{{totals.level}}">{{totals.level}}</td>
						<td data-format-number="{{totals.points}}">{{totals.points}}</td>
						<td>{{totals.chests}}/{{totals.champions}}</td>
						<td></td>
						<td></td>
						<td class="collapsible"></td>
					</tr>
				</tfoot>
			</table>
			<div class="responsiveAd">
				<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5598552437938145"
						crossorigin="anonymous"></script>
				<!-- CMGG/summoner-footer-responsive -->
				<ins class="adsbygoogle"
					 style="display:block"
					 data-ad-client="ca-pub-5598552437938145"
					 data-ad-slot="9866104978"
					 data-ad-format="auto"
					 data-full-width-responsive="true"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	{{/content}}
{{/extend}}


{{#*inline "headerColumn"}}
	<th class="{{#eq name "Progress"}}collapsible{{/eq}}" data-sorting-order="0">
		{{name}}
		<span class="collapsible">{{! the icon used for sorting goes in this span}}</span>
	</th>
{{/inline}}
